.cart-area input{
    width: 40px;
    outline: none;
    border: 1px solid lightgray;
}
.cart-area span{
    cursor: pointer;
}
#tt1,#tt2{
    width: 50px;
    color: #000;
}
.cart-area .tr-row td{
    padding: 20px 0!important;
}
.cart-area td:nth-child(1){
   width: 600px;
}
.cart-area td:nth-child(2){
    width: 150px;
}
.cart-area td:nth-child(3){
    width: 200px;
}
.cart-area td:nth-child(4){
    padding-left: 200px!important;
}
.cart-area th:nth-child(4){
    padding-left: 200px;
}
.btn-cart{
    padding: 10px 30px;
    background-color: red;
    color: #fff;
    position: relative;
    z-index: 1;
    border-radius: 50px;
    overflow: hidden;
    margin: 15px 0;
    font-size: 16px;
    font-weight: 600;
}
.btn-cart:hover{
    color: #fff;
}
.btn-cart::before{
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 1;
    width: 102%;
    height: 102%;
    background-color: #cf0f0f;
    transform: scaleX(0);
    transition: transform 0.5s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
}
.btn-cart:hover::before {
    transform: scaleX(1);
    z-index: -1
}
.cart-area .shipping-box{
    display: flex;
    flex-direction: row;
    float: right;
}
.cart-area .shipping-box h5{
    margin-right: 215px;
}
.cart-area .shipping-box ul{
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
}
.cart-area .shipping-box ul li{
    color: #606060;
    padding-bottom: 10px;
}